<ion-view title="Account Settings">
    <ion-nav-buttons side="left">
        <button class="button" ng-click="doSomeAction()">
            Do Something
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button" ng-click="doLogoutAction()">
            Logout
        </button>
    </ion-nav-buttons>
        <ion-content class="padding">
            <ion-item>
                <pre>{{user | json}}</pre>
            </ion-item>
        </ion-content>
</ion-view>